ALPACA_API_KEY=
ALPACA_SECRET_KEY=
ALPACA_MODE=paper
STRATEGY_ENGINE_URL=http://localhost:8000
EXECUTION_ENGINE_URL=http://localhost:8080
DUCKDB_PATH=../data/algotrader.duckdb
NEXT_PUBLIC_EXECUTION_URL=http://localhost:8080
NEXT_PUBLIC_STRATEGY_URL=http://localhost:8000
